<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/blog.css" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- #region header -->

    <header>
      <div class="name">
        <a href="../index.html"><h3>ALLAN JOHNSON</h3></a>
        <p>Personal Life Coach</p>
      </div>

      <input type="checkbox" id="check" />

      <label for="check">
        <div class="burger">
          <div class="line2"></div>
          <div class="line2"></div>
          <div class="line2"></div>
        </div>
      </label>

      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="../templates/plans.html" target="_blank">Plans</a></li>
          <li><a href="../templates/blog.html" target="_blank">Blog</a></li>
          <li><a href="">Guides</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Members</a></li>
          <li>
            <a href=""><i class="fa-solid fa-circle-user"></i> Log In</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- #endregion header  -->

    <!-- #region main -->
    <main>
      <div class="bgpicture"></div>

      <div class="bgcolor"></div>

      <div class="notes">
        <div class="line"></div>
        <h1>THOUGHTS & <br />NOTES</h1>

        <div class="comments">
          <div class="left1"></div>

          <div class="right1">
            <div class="user">
              <i class="fa-solid fa-circle-user"></i>
              <div class="admin">
                <a href="">Admin</a>
                <p>Jun 3, 2023 · 1min read</p>
              </div>
              <i class="fa-regular fa-bookmark"></i>
            </div>

            <a href="">
              <h4>10 tips for relaxation</h4>
              <br />Create a blog post subtitle that summarizes your post in a
              few short, punchy sentences and entices your audience to continue
              reading....</a
            >
            <div class="views">
              <div class="line3"></div>
              <div class="view">
                <p>0 views</p>
                <p>0 comments</p>
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="comments">
          <div class="left2"></div>
          <div class="right1">
            <div class="user">
              <i class="fa-solid fa-circle-user"></i>
              <div class="admin">
                <a href="">Admin</a>
                <p>Jun 3, 2023 · 2min read</p>
              </div>
              <i class="fa-regular fa-bookmark"></i>
            </div>

            <a href="">
              <h4>Why taking action creates success</h4>
              <br />Create a blog post subtitle that summarizes your post in a
              few short, punchy sentences and entices your audience to continue
              reading....</a
            >
            <div class="views">
              <div class="line3"></div>
              <div class="view">
                <p>0 views</p>
                <p>0 comments</p>
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- #endregion main  -->

    <!-- #region footer -->

    <footer>
      <div class="contact">
        <div class="line"></div>
        <h3>CONTACT</h3>
        <p>500 Terry Francine Street, <br />San Francisco, CA 94158</p>
        <p>Tel: 123-456-7890 <br />Fax: 123-456-7890</p>
        <p>info@mysite.com</p>
        <div class="social">
          <a href="https://www.facebook.com/wix" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://x.com/wix" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/wix/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/user/Wix" target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </div>
        <p>
          © 2035 by Personal Life Coach. <br />
          Powered and secured by
          <a
            href="https://www.wix.com/?utm_campaign=vir_created_with"
            target="_blank"
            >Wix</a
          >
        </p>
      </div>

      <div class="input">
        <div class="name">
          <div class="firstname">
            <label for="firstname">First Name *</label>
            <input type="text" id="firstname" required />
          </div>
          <div class="lastname">
            <label for="lastname">Last Name *</label>
            <input type="text" id="lastname" required />
          </div>
        </div>

        <label for="email">Email *</label>
        <input type="text" id="email" required />

        <label for="subject">Subject</label>
        <input type="text" id="subject" required />

        <label for="message">Message</label>
        <input type="text" id="message" required />

        <button>Submit</button>
      </div>
    </footer>
    <!-- #endregion footer  -->

    <!-- #region chatbutton -->
    <button class="chatbutton">
      <i class="fa-solid fa-comment"></i> Let's Chat!
    </button>
    <!-- #endregion chatbutton -->
  </body>
</html>
