<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/plans.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <!-- #region header -->

    <header>
      <div class="name">
        <a href="../index.html"><h3>ALLAN JOHNSON</h3></a>
        <p>Personal Life Coach</p>
      </div>

      <input type="checkbox" id="check" />

      <label for="check">
        <div class="burger">
          <div class="line2"></div>
          <div class="line2"></div>
          <div class="line2"></div>
        </div>
      </label>

      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="../templates/plans.html" target="_blank">Plans</a></li>
          <li><a href="../templates/blog.html" target="_blank">Blog</a></li>
          <li><a href="">Guides</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Members</a></li>
          <li>
            <a href=""><i class="fa-solid fa-circle-user"></i> Log In</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- #endregion header  -->

    <!-- #region main  -->
     <main>
        <h1>CHOOSE THE PLAN FOR YOU</h1>
        <p>I offer coaching, consulting, and support for your personal and professional development.</p>
        

        <div class="plans">
            <div class="plan1">
                <div class="box1">
                    <p>Discovery</p>
                    <p>$</p>
                    <p>50</p>
                    <p>Coaching cycle designed around </p>
                    <p>your objectives</p>
                    <p>Valid for 3 months</p>
                    <button>Select</button>
                </div>
                <div class="box2">
                     <p><i class="fa-solid fa-circle-check"></i> 1 Goal setting consultation</p>
                     <p><i class="fa-solid fa-circle-check"></i> 3 Individual sessions</p>
                     <p><i class="fa-solid fa-circle-check"></i>Online resources</p>

                </div>
            </div>

            <div class="plan2">
                <div class="minibox">
                    <p>Best Value</p>
                </div>
                <div class="box1">
                    <p>Development</p>
                    <p>$</p>
                    <p>100</p>
                    <p>How to clear obstacles and take</p>
                    <p>action</p>
                    <p>Valid for 6 months</p>
                    <button>Select</button>
                </div>
                <div class="box2">
                    <p><i class="fa-solid fa-circle-check"></i> 1 Monthly goal setting meeting</p>
                    <p><i class="fa-solid fa-circle-check"></i> Unlimited individual sessions</p>
                    <p><i class="fa-solid fa-circle-check"></i> Online resources</p>
                    <p><i class="fa-solid fa-circle-check"></i> Phone support</p>
                    <p><i class="fa-solid fa-circle-check"></i>Weekly newsletter</p>
                    
                </div>
            </div>

            <div class="plan1">
                <div class="box1">
                    <p>Direction</p>
                    <p>$</p>
                    <p>70</p>
                    <p>A full program to reshape your</p>
                    <p>being and doing</p>
                    <p>Valid for 12 months</p>
                    <button>Select</button>
                </div>
                <div class="box2">
                    <p><i class="fa-solid fa-circle-check"></i> 1 Monthly goal setting meeting</p>
                    <p><i class="fa-solid fa-circle-check"></i> 4 Individual sessions</p>
                    <p><i class="fa-solid fa-circle-check"></i> Online resources</p>
                    <p><i class="fa-solid fa-circle-check"></i> 1 Guest pass</p>
                    <p><i class="fa-solid fa-circle-check"></i> Phone support</p>
                    <p><i class="fa-solid fa-circle-check"></i> Weekly newsletter</p>
                    <p><i class="fa-solid fa-circle-check"></i> Priority support</p>
                </div>
            </div>
        </div>
        <!-- <div class="bgwhite"></div> -->
     </main>

    <!-- #endregion main  -->
    

    <!-- #region footer -->

    <footer>
      <div class="contact">
        <div class="line"></div>
        <h3>CONTACT</h3>
        <p>500 Terry Francine Street, <br />San Francisco, CA 94158</p>
        <p>Tel: 123-456-7890 <br />Fax: 123-456-7890</p>
        <p>info@mysite.com</p>
        <div class="social">
          <a href="https://www.facebook.com/wix" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://x.com/wix" target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/wix/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/user/Wix" target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </div>
        <p>
          © 2035 by Personal Life Coach. <br />
          Powered and secured by
          <a
            href="https://www.wix.com/?utm_campaign=vir_created_with"
            target="_blank"
            >Wix</a
          >
        </p>
      </div>

      <div class="input">
        <div class="name">
          <div class="firstname">
            <label for="firstname">First Name *</label>
            <input type="text" id="firstname" required />
          </div>
          <div class="lastname">
            <label for="lastname">Last Name *</label>
            <input type="text" id="lastname" required />
          </div>
        </div>

        <label for="email">Email *</label>
        <input type="text" id="email" required />

        <label for="subject">Subject</label>
        <input type="text" id="subject" required />

        <label for="message">Message</label>
        <input type="text" id="message" required />

        <button>Submit</button>
      </div>
    </footer>
    <!-- #endregion footer  -->

    <!-- #region chatbutton -->
    <button class="chatbutton">
      <i class="fa-solid fa-comment"></i> Let's Chat!
    </button>
    <!-- #endregion chatbutton -->
  
</body>
</html>