* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region main  */

main {
  margin-top: 70px;
  width: 100%;
  position: relative;
}

main .bgpicture {
  width: 100%;
  height: 60vh;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-size: cover;
}

main .bgcolor {
  width: 100%;
  height: 60vh;
  background-color: white;
}

main .notes {
  width: 60%;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
}

main .notes h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

main .notes .comments {
  border: 1px solid rgb(163, 162, 162);
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

main .notes .comments .left1 {
  width: 50%;
  background-image: url("../images/left1.jpg");
  background-position: center;
  background-size: cover;
  min-width: 200px;
  height: 350px;
  min-width: 300px;
  flex-grow: 1;
}

main .notes .comments .left2 {
  width: 50%;
  background-image: url("../images/left2.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  min-width: 300px;
  flex-grow: 1;
}

main .notes .comments .right1 {
  width: 50%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  flex-grow: 1;
  min-height: 350px;
}

main .notes .comments .right1 .user {
  display: flex;
  gap: 10px;
  align-items: center;
}

main .notes .comments .right1 .user i:nth-child(1) {
  font-size: 30px;
  color: grey;
}

main .notes .comments .right1 .user a,
p {
  font-size: 12px;
  color: grey;
}

main .notes .comments .right1 .user i:nth-child(3) {
  margin-left: auto;
  color: grey;
}

main .notes .comments .right1 a h4 {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(79, 79, 79);
  font-weight: 30;
}

main .notes .comments .right1 a {
  color: grey;
}

main .notes .comments .right1 .views {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main .notes .comments .right1 .views .line3 {
  width: 100%;
  height: 2px;
  background-color: grey;
}

main .notes .comments .right1 .views .view {
  display: flex;
  gap: 20px;
}

main .notes .comments .right1 .views .view i {
  color: red;
  margin-left: auto;
}

main .notes .comments .right1 .user .admin a:hover {
  color: rgb(22, 175, 149);
}

main .notes .comments .right1 > a:hover {
  color: rgb(22, 175, 149);
}

main .notes .comments .right1 > a h4:hover {
  color: rgb(22, 175, 149);
}
/* #endregion main  */

@media screen and (max-width: 1003px) {
  main {
    height: 205vh;
  }
}

@media screen and (max-width: 500px) {
  main .notes .comments .right1 {
    min-width: 200px;
  }
  main .notes .comments .left1 {
    min-width: 200px;
  }
  main .notes .comments .left2 {
    min-width: 200px;
  }
  main {
    height: 220vh;
  }
  main .notes h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 400px) {
  main {
    height: 240vh;
  }
  main .bgpicture {
    min-width: 400px;
  }
  main .notes .comments .left1 {
    min-width: 150px;
  }
  main .notes .comments .left2 {
    min-width: 150px;
  }
  main .notes {
    width: 80%;
    padding-right: 40px;
  }
}

@media screen and (max-width: 350px) {
  main .notes {
    width: 90%;
    left: 23%;
  }
}
