* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region main  */

main {
  width: 100%;
  background-image: url(../images/lightblue.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 70px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 100px;
}

main .plans {
  width: 60%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

main .plans .plan1 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  z-index: 5;
  flex-grow: 1;
}

main .plans .plan2 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
  z-index: 5;
  flex-grow: 1;
}

main .plans .plan1 .box1 {
  width: 100%;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.356);
  border: 2px solid black;
  border-bottom: none;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
}

main .plans .plan1 .box2 {
  width: 100%;
  height: 330px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
}

main .plans .plan2 .box1 {
  width: 100%;
  height: 330px;
  background-color: white;
  border: 2px solid black;
  border-bottom: none;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
}

main .plans .plan2 .box2 {
  width: 100%;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.362);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
}

main h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  letter-spacing: 8px;
  padding: 0px 50px;
}

main > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(61, 61, 61);
  font-size: 15px;
  margin-bottom: 40px;
  padding: 30px;
}

main .plans .plan2 .minibox {
  width: 110px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  border: 2px solid black;
  background-color: rgb(24, 183, 178);
  display: flex;
  justify-content: center;
  padding-top: 3px;
  margin-top: -10px;
}

main .plans .plan1 .box1 p:nth-child(1) {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(101, 101, 101);
}
main .plans .plan1 .box1 p:nth-child(2) {
  font-size: 20px;
  padding-right: 70px;
}
main .plans .plan1 .box1 p:nth-child(3) {
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(72, 72, 72);
}

main .plans .plan1 .box1 p:nth-child(4) {
  font-size: 14px;
  color: grey;
}

main .plans .plan1 .box1 p:nth-child(5) {
  font-size: 14px;
  color: grey;
}
main .plans .plan1 .box1 p:nth-child(6) {
  font-size: 11px;
  color: grey;
}
main .plans .plan2 .box1 p:nth-child(1) {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(101, 101, 101);
}
main .plans .plan2 .box1 p:nth-child(2) {
  font-size: 20px;
  padding-right: 100px;
}
main .plans .plan2 .box1 p:nth-child(3) {
  font-size: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(72, 72, 72);
}
main .plans .plan2 .box1 p:nth-child(4) {
  font-size: 14px;
  color: grey;
}

main .plans .plan2 .box1 p:nth-child(5) {
  font-size: 14px;
  color: grey;
}
main .plans .plan2 .box1 p:nth-child(6) {
  font-size: 11px;
  color: grey;
}

main .plans button {
  background-color: black;
  color: rgb(226, 224, 224);
  padding: 15px 70px;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-weight: 30;
}

main .plans button:hover {
  text-decoration: underline;
}

main .plans .plan1 .box2 p {
  font-size: 13px;
}
main .plans .plan1 .box2 i {
  color: rgb(3, 131, 107);
}
main .plans .plan2 .box2 p {
  font-size: 13px;
}
main .plans .plan2 .box2 i {
  color: black;
}
/* #endregion main  */

@media screen and (max-width: 1000px) {
  main h1 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  main .plans .plan1 {
    min-width: 200px;
  }
  main .plans .plan2 {
    min-width: 200px;
  }
  main .plans button {
    padding: 8px 50px;
  }
}

@media screen and (max-width: 400px) {
  main {
    min-width: 400px;
  }
}
